export NIMBLE_DIR=`pwd`/vendor/.nimble
export NIMBUS_ENV_DIR=`pwd`/vendor/nimbus-build-system/scripts
export NIM_PATH=`pwd`/vendor/nimbus-build-system/vendor/Nim/bin
export PATH=`pwd`/vendor/nimbus-build-system/vendor/Nim/bin:`pwd`/vendor/.nimble/bin:$PATH
